aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
annotated-types==0.8.0
anyio==4.15.1
attrs==26.1.0
bcrypt==5.0.0
bech32==1.2.0
certifi==2026.7.22
cffi==2.1.1
charset-normalizer==3.5.2
click==8.5.0
cosmpy==0.12.2
distlib==0.4.3
ecdsa==0.19.2
filelock==4.0.9
frozenlist==1.8.0
googleapis-common-protos==1.75.0
grpcio==1.84.0
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.20
jsonschema==4.26.0
jsonschema-specifications==2025.9.1
multidict==6.9.1
numpy==2.5.3
packaging==26.3
platformdirs==4.12.2
propcache==0.5.4
protobuf==5.29.6
pycparser==3.0
pycryptodome==3.23.0
pydantic==2.13.5
pydantic_core==2.46.5
PyNaCl==1.6.0
python-dateutil==2.9.0.post0
python-discovery==1.6.1
python-dotenv==1.2.4
referencing==0.37.0
requests==2.34.2
rpds-py==2026.6.3
six==1.17.0
sortedcontainers==2.4.0
typing-inspection==0.4.4
typing_extensions==4.16.0
uagents==0.25.5
uagents-core==0.4.11
urllib3==2.8.0
uvicorn==0.54.0
virtualenv==21.14.5
yarl==1.25.1
